version: "3.8"

services:
  fastapi_server:
    container_name: fastapi_server
    build: ./backend
    restart: always
    command: "sh -c 'uvicorn app.main:app --reload --workers 3 --host 0.0.0.0 --port 8000'"

    volumes:
      - ./backend/app:/code
    expose:
      - "8000"
    env_file:
      - .env
    ports:
      - "8000:8000"
