aiopg==1.4.0
alembic==1.13.1
asyncpg==0.29.0
email-validator==2.1.0.post1
fastapi==0.109.0
httpx==0.26.0
loguru==0.7.2
passlib==1.7.4
pip-chill==1.0.3
pydantic-settings==2.1.0
pytest==7.4.4
python-jose==3.3.0
python-multipart==0.0.6
sqlmodel==0.0.14
uvicorn==0.25.0
