/* ------------------------------ GCP Foundation----------------------------- */

gcp_project_id            = "gcp_project_id"
gcp_project_number        = "gcp_project_number"
gcp_credentials_file      = "~/gcp_credentials_file.json"
gcp_service_account_name  = "gcp_service_account_name" 

gcp_services   = ["cloudbuild","run","compute"]

gcp_existing_service_account_roles = [
    "secretmanager.secretAccessor",
  ]
gcp_cloud_build_service_account_roles = ["secretmanager.secretAccessor","iam.serviceAccountUser", "compute.admin", "run.admin"]


/* ------------------------------ GCP Network ----------------------------- */
gcp_network_name          = "default"
gcp_region                = "us-central1"
gcp_zone                  = "us-central1-c"


/* ------------------------------- Cloud Build ------------------------------ */
repo_name = "repo_name"
branch = "master"

github_token = "github_token"
github_gcp_installation_id = "github_gcp_installation_id"
github_remote_uri = 